.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Inter', sans-serif;
}

.reveal p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}


.oscilloscope {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 10rem;
}

.audio-select {
    position: absolute;
    bottom: 0;
    z-index: 10;
    margin: 1rem;
    padding: 0.25rem;
    gap: 0.25rem;
    background-color: #F9A86F;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.audio-select label {
    color: #11133C;
    font-family: Inter;
    font-size: 0.75rem;
}